@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v15-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v47-latin-regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "DM Sans";
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: red;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.site-header {
  background-color: #f5f3ea;
}
.header-container {
  padding: 16px 0;
}

.nav-list {
  display: flex;
  gap: 35px;
  justify-content: end;
  align-items: center;
}
.list-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  a {
    color: #222222;
  }
}

.login-btn {
  margin-left: 23px;
}

.btn {
  padding: 9px 28px 11px;
  border: 2px solid #000000;
  border-radius: 6px;
  box-shadow: 2px 2px 0px 0px #1b1c1d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.colored-btn {
  background-color: #ff9966;
}

.access-btn {
  a {
    color: #000;
  }
}

/* Hero section */

.hero-container {
  text-align: center;
  position: relative;
  padding-top: 232px;
}

.diagram-178 {
  position: absolute;
  top: 40px;
  left: 10px;
}
.cashflow {
  position: absolute;
  right: 182px;
  top: 88px;
}
.select-product {
  position: absolute;
  left: 43px;
  bottom: 152px;
}
.workflow {
  position: absolute;
  bottom: 0;
  right: 43px;
}
.hero__title {
  font-size: 96px;
  font-weight: 400;
  line-height: 100.8px;
  letter-spacing: 1.1399999856948853px;
  color: #1b1c1d;
  margin-bottom: 33px;
}
.hero__description {
  margin-bottom: 24px;
  width: 608px;
  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
  color: #1b1c1d;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.access-btn {
}
